@charset "utf-8";

/* sp_design_2nd.css ver1.01 : Written by syam 2016.08.xx 記 */
/* 2階層目（products.html / list.html）限定の指定を記載 */

.item_list h2,#SHOPPING_GUIDE h2{
	background: transparent;
}

/* ItemList */
.item_list li{
	width: 50%;
}

/* Shopping Guide */
.guide_box{
	width:100%;
}

/* 商品詳細ページに関する設定 */
#PRODUCTS_BOX{
	padding: 15px;
}
/* 商品名部分 */
#PRODUCTS_NAME{
	padding:0;
}
#PRODUCTS_ID{
	display:block;
	padding:10px 0;
}


/* ギャラリー部分 */
#MAIN_VIEW img{
	border-bottom:3px solid #fff;
}
#PICT_LIST{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	flex-wrap: wrap;
}
#PICT_LIST li{
	width:20%;
}
#PICT_LIST li img{
	border:2px solid #fff;
}
